aiosqlite==0.20.0 ; python_version >= "3.9"
colorama==0.4.6 ; python_version >= "3.9" and sys_platform == "win32"
exceptiongroup==1.2.2 ; python_version < "3.11" and python_version >= "3.9"
greenlet==3.1.1 ; python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.9"
iniconfig==2.0.0 ; python_version >= "3.9"
mypy-extensions==1.0.0 ; python_version >= "3.9"
mypy==1.13.0 ; python_version >= "3.9"
packaging==24.2 ; python_version >= "3.9"
pluggy==1.5.0 ; python_version >= "3.9"
pytest-asyncio==0.24.0 ; python_version >= "3.9"
pytest==8.3.4 ; python_version >= "3.9"
ruff==0.5.7 ; python_version >= "3.9"
sqlalchemy==2.0.36 ; python_version >= "3.9"
tomli==2.2.1 ; python_version < "3.11" and python_version >= "3.9"
typing-extensions==4.12.2 ; python_version >= "3.9"
